{% extends 'attendance/base.html' %}

{% block content %}   

{% for group in user.groups.all %}
    {% if group.name == 'coaches' %}
        <div class="pure-menu pure-menu-horizontal">
            
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'attendance:classes_for_coach' coach_id=user.coach.coach_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i>  home</a></li>

                <li class="pure-menu-item"><a href="{% url 'attendance:coach_dashboard' %}" class="pure-menu-link"><i class="fa fa-dashboard fa-2x" aria-hidden="true"></i>  dashboard</a></li>

                <li class="pure-menu-item">
                    <a href="{% url 'attendance:auth_logout' %}" class="pure-menu-link"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> sign out</a>
                </li>

            </ul>
        </div>
    {% endif %}
{% endfor %} 

    <div class="table-data pure-menu pure-menu-horizontal">

        <h1> {{coach}}</a></h1>

        <table class="pure-table center pure-table-horizontal">
            <thead>
                <tr>
                    <th>Role</th>
                    <th>Class</th>
                </tr>
            </thead>

            <tbody>

                {% for entry_dict in classes %}

                <tr>
                    <td> Lead </td>
                    <td> <a href="{% url 'attendance:class_roster' class_id=entry_dict.class.class_id coach_id=entry_dict.head_coach.coach_id %}"> {{ entry_dict.class }} </a> </td>
                    
                </tr>

                {% endfor %}

                {% for entry in assistant_classes %}

                <tr>
                    <td> Assistant </td>
                    <td> <a href="{% url 'attendance:class_roster' class_id=entry.class.class_id coach_id=entry.head_coach.coach_id %}"> {{ entry.class }} </a> </td>
                    
                </tr>

                {% endfor %}



            </tbody>

    </table>



    </div>


{% endblock %}
