{% extends 'attendance/base.html' %}

{% block content %}  
    
     {% load staticfiles %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="{% static 'attendance/css/jquery.timepicker.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery.timepicker.min.js'%}"></script>


    <script>
      $(function() {
         $( "#datepicker-13" ).datepicker();
         $('#timepicker-13').timepicker();

      });
    </script>


{% for group in user.groups.all %}
    {% if group.name == 'coaches' %}
        <div class="pure-menu pure-menu-horizontal">
            
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'attendance:classes_for_coach' coach_id=user.coach.coach_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i>  home</a></li>

                <li class="pure-menu-item"><a href="{% url 'attendance:coach_dashboard' %}" class="pure-menu-link"><i class="fa fa-dashboard fa-2x" aria-hidden="true"></i>  dashboard</a></li>

                <li class="pure-menu-item">
                    <a href="{% url 'attendance:auth_logout' %}" class="pure-menu-link"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i> sign out</a>
                </li>

            </ul>
        </div>
    {% endif %}
{% endfor %} 

<div align="center">

  <form class="pure-form pure-form-stacked" action="" method="post">
          {% csrf_token %}
  <fieldset>
      <h1> New Session </h1>

      <label for="date">Date</label>
      <input name="date" id="datepicker-13" type="text" placeholder="05/13/16" required>

      <label for="time">Time</label>
      <input name="time" id="timepicker-13" type="text" placeholder="6:00 pm" required>

      <br>

      <button type="submit" class="pure-button pure-button-primary">Create</button>
  </fieldset>
  </form>   


</div>
  
{% endblock %}