{% extends 'attendance/base.html' %}

{% block content %}  


{% for group in user.groups.all %}
        {% if group.name == 'coaches' %}
            <div class="pure-menu pure-menu-horizontal">
                <p class="pure-menu-heading">You are currently logged in, {{user.coach}}</p>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{% url 'attendance:classes_for_coach' coach_id=user.coach.coach_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i>  home</a></li>                  
                </ul>
            </div>
        {% endif %}

{% endfor %} 


    {% if request.user.studentprofile.student%}
        <div class="pure-menu pure-menu-horizontal">
            <p class="pure-menu-heading">You are currently logged in</p>
            <ul class="pure-menu-list">
                
                <li class="pure-menu-item"><a href="{% url 'attendance:student_profile' student_id=request.user.studentprofile.student.student_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i> home</a></li>


            </ul>

        </div>
    {%endif%}


<div class="banner" align="center">

    <h1> Welcome to Awesome Inc's Student Progress Manager </h1>

    <form class="pure-form" action="{% url 'attendance:signup' %}" method="get">
            {% csrf_token %}
    <fieldset>

        
        <div class="pure-controls">
            <button type="submit" class="button-xlarge pure-button pure-button-primary">Register now</button>
            {% if not_found %}

                <div class="error">User not found</div>

            {% endif %}

            {% if error %}

                <div class="error">User not active. Please try again later</div>

            {% endif %}
        </div>
        <br>
        
    </fieldset>
</form>    

</div>

<div align="center">
{% load socialaccount %}
<p><i class="fa fa-github fa-4x"></i><a href="{% provider_login_url "github" %}"> <big>Login with Github</big></a></p>
</div>


<style scoped>

        .button-xsmall {
            font-size: 70%;
        }

        .button-small {
            font-size: 85%;
        }

        .button-large {
            font-size: 110%;
        }

        .button-xlarge {
            font-size: 125%;
        }

        .banner {
            font-size: 200%;
        }

</style>

{% endblock %}

