{% extends 'attendance/base.html' %}

{% block content %}   

    <div class="table-data pure-menu pure-menu-horizontal">

        <h1> {{class}} with <a href="{% url 'attendance:classes_for_coach' coach_id=coach.coach_id%}">{{coach}}</a></h1>

        <table class="pure-table center pure-table-horizontal">
            <thead>

                <tr>
                    <th>Session date</th>
                    {% for student in students %}
                        <th> {{student}} </th>
                        <th> Note </th> 
                    {% endfor %}
                </tr>
            </thead>

            <tbody>

                {% for record in records %}
                <tr>

                    <td> <a href="{% url 'attendance:class_session' coach_id=coach.coach_id class_id=class.class_id session_id=record.session.session_id%}"> {{record.session}} </td>
                    {% for item in record.records %}
                    <td> {{item.attended}} </td>
                    <td> <div class='content'> {{item.note}}  </div> </td>
                    {% endfor %}
                </tr>
                {% endfor %}

                <tr>
                    <td> <a href="{% url 'attendance:create_session' coach_id=coach.coach_id class_id=class.class_id%}"> + </a> </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

    </table>

    </div>


{% endblock %}