{% extends 'attendance/base.html' %}

{% block content %}   

    <div class="table-data pure-menu pure-menu-horizontal">

        <h1> {{class}} with <a href="{% url 'attendance:classes_for_coach' coach_id=coach.coach_id%}">{{coach}}</a></h1>

        <table class="pure-table center pure-table-horizontal">
            <thead>
                <tr>
                    <th>Student #</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th> Email </th>
                    <th> Profile </th>
                </tr>
            </thead>

            <tbody>

                {% for record in roster %}

                <tr>
                    <td> {{ forloop.counter }}</td>
                    <td> {{ record.student.first_name }} </td>
                    <td> {{ record.student.last_name }}  </td>
                    <td> {{ record.student.profile.email }} </td>
                    <td> <a href="{% url 'attendance:student_profile' student_id=record.student_id %}"> Profile </a> </td> 
                </tr>

                {% endfor %}

            </tbody>

    </table>

    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{% url 'attendance:class_overview' coach_id=coach.coach_id class_id=class.class_id%}" class="pure-menu-link white">Take attendance</a></li>
        <li class="pure-menu-item"><a href="{% url 'attendance:enroll_student' coach_id=coach.coach_id class_id=class.class_id%}" class="pure-menu-link white">Enroll a student</a></li>
        <li class="pure-menu-item"><a href="{% url 'attendance:create_session' coach_id=coach.coach_id class_id=class.class_id%}" class="pure-menu-link white">Create class session</a></li>
    </ul>


    </div>


{% endblock %}