{% extends 'attendance/profile-base.html' %}

{% block content %} 


{% if request.user.studentprofile.student.student_id == student.student_id %}
        <div class="pure-menu pure-menu-horizontal">
            <p class="pure-menu-heading"><a class="pure-menu-link" href="{% url 'attendance:student_profile' student_id=student.student_id %}">{{student}}</a></p>
            <ul class="pure-menu-list">
                
                <li class="pure-menu-item"><a href="{% url 'attendance:student_goals' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>


            </ul>
        </div>
{%else%}

        <div class="pure-menu pure-menu-horizontal">
            <p class="pure-menu-heading">{{student}}</p>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'attendance:student_profile' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>
            </ul>
        </div>
{% endif %}

<div align="center">

    <h1> Set goal </h1>

</div>

<div class="pure-g" align="center">

    <div class="pure-u-1-3">

    </div>

    <div class="pure-u-1-3">

    



        <form class="pure-form" action="" method="post">
                {% csrf_token %}
                <fieldset class="pure-group">
                        <textarea class="pure-input-1-2" placeholder="Goal" id="goal" name="goal"></textarea>
                </fieldset>

                <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">Set goal</button>

        
        </form>    
            
    </div>

    <div class="pure-u-1-3">

    </div>
</div>



{% endblock %}

