{% extends 'attendance/profile-base.html' %}

{% block content %} 


 <style>
        a:link.dashboard-link  {color:white; background-color:transparent; text-decoration:none}
        a:visited.dashboard-link  {color:white; background-color:transparent; text-decoration:none}
        a:hover.dashboard-link    {color:white; background-color:transparent; text-decoration:underline}
        a:active.dashboard-link   {color:white; background-color:transparent; text-decoration:underline}
</style>

{% for group in user.groups.all %}
    {% if group.name == 'coaches' %}
        <div class="pure-menu pure-menu-horizontal">
            <p class="pure-menu-heading">{{user.coach}}</p>
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="{% url 'attendance:classes_for_coach' coach_id=user.coach.coach_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i>  home</a></li>
                
                <li class="pure-menu-item"><a href="{% url 'attendance:student_profile' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>                   
            </ul>
        </div>
    {%else%}

      <div class="pure-menu pure-menu-horizontal">
          <p class="pure-menu-heading">{{student}}</p>
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="{% url 'attendance:student_profile' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>
          </ul>
      </div>
    {% endif %}

{% endfor %} 
<section class="dashboard">


    <div class="pure-g">
        <div class="pure-u-1 dashboard-piece dashboard-piece-logo">
        <h1 class="title">
            {{student}}'s skills
        </h1>
        </div>
    </div>


    <div class="pure-g">

        <div class="pure-u-2-24"> </div> 

        {% for skill in skills %}

            <div class="pure-u-6-24 dashboard-piece dashboard-piece-tealbg">
                <div class="dashboard-content">
                    <h2><i class="fa {{skill.skill.font_awesome_icon}} fa-4x"></i></h2>
                    <p class="dashboard-metric"> <a class="dashboard-link" href="{% url 'attendance:skill_overview' student_id=student.student_id skill_id=skill.skill.skill_id %}"> {{skill.skill.title}} </a> </p>

                    <div class="dashboard-metric">
                                        <strong><small>{{skill.met}}/{{skill.total}}</small></strong><br><small>Complete</small>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 %}

                <div class="pure-u-2-24"> </div>

                </div>

                <br> <br>

                <div class="pure-g">

                    <div class="pure-u-2-24"> </div> 

            {% else %}

                <div class="pure-u-1-24"> </div>
            {% endif %}

        {% endfor %}

        
    
    
</section>


{% endblock %}
