{% extends 'attendance/profile-base.html' %}

{% block content %}   



    {% for group in user.groups.all %}
        {% if group.name == 'coaches' %}
            <div class="pure-menu pure-menu-horizontal">
                <p class="pure-menu-heading">{{user.coach}}</p>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{% url 'attendance:classes_for_coach' coach_id=user.coach.coach_id %}" class="pure-menu-link"><i class="fa fa-home fa-2x" aria-hidden="true"></i>  home</a></li>
                    <li class="pure-menu-item"><a href="{% url 'attendance:mark_skill' student_id=student.student_id skill_id=skill.skill_id %}" class="pure-menu-link"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>  mark progress</a></li> 
                    <li class="pure-menu-item"><a href="{% url 'attendance:student_skills' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>                   
                </ul>
            </div>
        {%else%}

          <div class="pure-menu pure-menu-horizontal">
              <p class="pure-menu-heading">{{student}}</p>
              <ul class="pure-menu-list">
                  <li class="pure-menu-item"><a href="{% url 'attendance:student_skills' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>
              </ul>
          </div>
        {% endif %}

    {% endfor %} 

    {% if request.user.studentprofile.student.student_id == student.student_id %}
       <div class="pure-menu pure-menu-horizontal">
           <ul class="pure-menu-list">
               <li class="pure-menu-item"><a href="{% url 'attendance:student_skills' student_id=student.student_id %}" class="pure-menu-link"><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i> back</a></li>

           </ul>
       </div>
   {% endif %}

          

    <style>
        a:link.pure-menu-link  {color:#F6AE2D; background-color:transparent; text-decoration:none}
        a:visited.pure-menu-link {color:#F6AE2D; background-color:transparent; text-decoration:none}
        a:hover.pure-menu-link   {color:#F26419; background-color:transparent; text-decoration:underline}
        a:active.pure-menu-link  {color:#F6AE2D; background-color:transparent; text-decoration:underline}
    </style>

    <div class="pure-g">
        <div class="pure-u-1 dashboard-piece dashboard-piece-logo">
        <h1 class="title">
            {{skill}}
        </h1>
        </div>
    </div>


    {% for subskill in subskills %}


      {% if subskill.achieved %}

        <div class="pure-g"> 

                 <div class="pure-u-1-12"> </div>

                 <div class="pure-u-5-6 dashboard-piece-tealbg">
                  
                    <div class="pure-g"> 

                      <div class="pure-u-1-24"> </div>

                      <div class="pure-u-5-6 dashboard-piece-tealbg">
                         
                         <p><h2 class="subskill"><i class="fa fa-check-square-o"></i>
                             {{subskill.subskill.description}}</h2></p>
                      </div>

                      <div class="pure-u-1-24"> </div>

                    </div>
                    
                 </div>

                 <div class="pure-u-1-12"> </div>
        </div>
        <br>

      {% else %}

        <div class="pure-g"> 

                 <div class="pure-u-1-12"> </div>

                 <div class="pure-u-5-6 dashboard-piece-tealbg">
                  
                    <div class="pure-g"> 

                      <div class="pure-u-1-24"> </div>

                      <div class="pure-u-5-6 dashboard-piece-tealbg">
                         
                         <p><h2 class="subskill"><i class="fa fa-square-o"></i>
                             {{subskill.subskill.description}}</h2></p>
                      </div>

                      <div class="pure-u-1-24"> </div>

                    </div>
                    
                 </div>

                 <div class="pure-u-1-12"> </div>
        </div>
        <br>


      {% endif %}

    {% endfor %}

{% endblock %}